@model No1_Online.ViewModels.LoadingScheduleVM
@inject IHttpContextAccessor _httpContextAccessor

<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        <div class="d-flex align-items-center">
            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Add New Record</button>
            <div class="btn-group me-2">
                <button type="button" class="btn btn-success">Load Confirmation</button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Email</a></li>
                    <li><a class="dropdown-item" href="#">Print</a></li>
                </ul>
            </div>
        </div>
    </form>
</nav>

<div class=" container-fluid">
<div class="row">
<div class="col-lg-6">
    <div class="card mb-5">
        <div class="card-header">
            Loading Schedule Details:
        </div>
        <div class="card-body">
            <form asp-controller="LoadingSchedule" asp-action="" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="loadingSchedule.Id"></label>
                            <input type="text" asp-for="loadingSchedule.Id" class="form-control" id="Id">
                            <span asp-validation-for="loadingSchedule.Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="loadingSchedule.Date"></label>
                            <input type="date" asp-for="loadingSchedule.Date" class="form-control" id="LoadingDate">
                            <span asp-validation-for="loadingSchedule.Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <label asp-for="loadingSchedule.SelfLoad"></label>
                            <input asp-for="loadingSchedule.SelfLoad" type="checkbox" class="form-check-input" id="SelfLoad">
                            <span asp-validation-for="loadingSchedule.SelfLoad" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="loadingSchedule.CompanyTrans.Name"></label>
                                    <input type="text" asp-for="loadingSchedule.CompanyTrans.Name" class="form-control" id="Transporter">
                                    <span asp-validation-for="loadingSchedule.CompanyTrans.Name" class="text-danger"></span>
                                </div>
                            
                                <div class="form-group">
                                    <label asp-for="loadingSchedule.PurchaseOrder"></label>
                                    <input type="text" asp-for="loadingSchedule.PurchaseOrder" class="form-control" id="PurchaseOrder">
                                    <span asp-validation-for="loadingSchedule.PurchaseOrder" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="loadingSchedule.LoadingPointLoad.City">Loading Point:</label>
                                    <input type="text" asp-for="loadingSchedule.LoadingPointLoad.City" class="form-control" id="LoadingPointLoad">
                                    <span asp-validation-for="loadingSchedule.LoadingPointLoad.City" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="loadingSchedule.Vehicle.Registration"></label>
                                    <input type="text" asp-for="loadingSchedule.Vehicle.Registration" class="form-control" id="Vehicle">
                                    <span asp-validation-for="loadingSchedule.Vehicle.Registration" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="loadingSchedule.SubReg"></label>
                                    <input type="text" asp-for="loadingSchedule.SubReg" class="form-control" id="SubReg">
                                    <span asp-validation-for="loadingSchedule.SubReg" class="text-danger"></span>
                                </div>
                            </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="loadingSchedule.Company.Name">Client:</label>
                            <input type="text" asp-for="loadingSchedule.Company.Name" class="form-control" id="CompanyName">
                            <span asp-validation-for="loadingSchedule.Company.Name" class="text-danger"></span>
                        </div>

                                <div class="form-group">
                                    <label asp-for="loadingSchedule.LoadingPointOff.City">Offload Point:</label>
                                    <input type="text" asp-for="loadingSchedule.LoadingPointOff.City" class="form-control" id="LoadingPointOff">
                                    <span asp-validation-for="loadingSchedule.LoadingPointOff.City" class="text-danger"></span>
                                </div>

                        <div class="form-group">
                            <label asp-for="loadingSchedule.Value"></label>
                            <input type="text" asp-for="loadingSchedule.Value" class="form-control" id="Value">
                            <span asp-validation-for="loadingSchedule.Value" class="text-danger"></span>
                        </div>

                                <div class="form-group">
                                    <label asp-for="loadingSchedule.LoadInstruction"></label>
                                    <textarea asp-for="loadingSchedule.LoadInstruction" class="form-control" id="LoadInstruction" rows="3"></textarea>
                                    <span asp-validation-for="loadingSchedule.LoadInstruction" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="loadingSchedule.ProfileId"></label>
                                    <input type="text" class="form-control" asp-for="loadingSchedule.ProfileId" readonly>
                                    <span asp-validation-for="loadingSchedule.ProfileId" class="text-danger"></span>
                                </div>
                    </div>
                    
                </div>                           
              
            </form>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card mb-4">
        <div class="card-header">
            Client Payment input
        </div>
        <div class="card-body">
            <form asp-controller="Company" asp-action="" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="row">
                    <div class="form-group">
                        <label asp-for="clientPayment.Date">Deposit Date:</label>
                                <input type="date" class="form-control" asp-for="clientPayment.Date" id="DepositDate">
                                <span asp-validation-for="clientPayment.Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="clientPayment.Amount">Deposit Amount:</label>
                        <input type="text" class="form-control" asp-for="clientPayment.Amount" id="DepositAmount">
                        <span asp-validation-for="clientPayment.Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col">
                        <div class="text-end mt-4">
                            <button type="submit" class="btn btn-primary">Credit Note</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
            
    <div class="card">
        <div class="card-header">
            Transporter Payment Input:
        </div>
        <div class="card-body">
            <form asp-controller="Company" asp-action="" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="remitance.Poddate">POD Date:</label>
                        <input type="text" class="form-control" asp-for="remitance.Poddate" id="PODDate">
                                <span asp-validation-for="remitance.Poddate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="remitance.Invoice">Invoice Number:</label>
                        <input type="text" class="form-control" asp-for="remitance.Invoice" id="InvoiceNo">
                                <span asp-validation-for="remitance.Invoice" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="remitance.Duedate">Payment Due:</label>
                        <input type="date" class="form-control"asp-for="remitance.Duedate" id="PayDue">
                                <span asp-validation-for="remitance.Duedate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="remitance.PaymentDate">Payment Date:</label>
                        <input type="date" class="form-control" asp-for="remitance.PaymentDate" id="PayDate">
                                <span asp-validation-for="remitance.PaymentDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="remitance.PaymentType">Payment Type:</label>
                        <select class="form-control" id="PayType" asp-for="remitance.PaymentType">
                            <option value="Cheque">Cheque</option>
                            <option value="eft">eft</option>
                        </select>
                                <span asp-validation-for="remitance.PaymentType" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="remitance.Amount">Amount:</label>
                        <input type="text" class="form-control" asp-for="remitance.Amount" id="Amount">
                                <span asp-validation-for="remitance.Amount" class="text-danger"></span>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card mb-4">
        <div class="card-header">
            Invoices
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="InvDate" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="InvDate">
                </div>
                <button type="button" class="btn btn-secondary">Invoice</button>
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Email</a></li>
                        <li><a class="dropdown-item" href="#">Print</a></li>
                                
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Notes
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="inputPerson" class="form-label">Input Person</label>
                    <input type="text" class="form-control" id="inputPerson">
                </div>
                <div class="mb-3">
                    <label for="noteDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="noteDate">
                </div>
                <div class="mb-3">
                    <label for="noteDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="noteDescription" rows="3"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <div class="card mb-2">
                <div class="card-header">
                    Product Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Load Rate</th>
                                <th>VAT %</th>
                                <th>Sub Rate</th>
                                <th>VAT %</th>
                                <th>Units</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var tranProd in Model.transportedProducts)
                                {
                                    <tr>
                                        <td>@tranProd.Product.Description</td>
                                        <td>@tranProd.LoadRate</td>
                                        <td>15</td>
                                        <td>@tranProd.PaymentRate</td>
                                        <td>15</td>
                                        <td>@tranProd.Quantity</td>
                                    </tr>
                                }

                               
                            </tbody>
                        </table>
                    </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td>@Model.calculations.load</td>
                                        <td>@Model.calculations.sub</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>VAT:</td>
                                        <td>@Model.calculations.loadVAT</td>
                                        <td>@Model.calculations.subVAT</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Total Including VAT:</td>
                                        <td>@Model.calculations.loadTotal</td>
                                        <td>@Model.calculations.subTotal</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Profit Excluding VAT:</td>
                                        <td>@Model.calculations.profit</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>VAT on Profit:</td>
                                        <td>@Model.calculations.profitVAT</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
