<div class="container-fluid">
    <div class="container-fluid mt-5">
        <div class="card">
            <div class="card-header">
                Products
            </div>

            <table class="table table-striped w-auto ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Date Added</th>
                        

                    </tr>
                </thead>
                <tbody>

                    @{
                        // if (Model.company.Contacts.)
                        // {
                        //     foreach (var record in Model.company.Contacts)
                        //     {
                        //         <tr>
                        //             <th class="w-100" scope="row">@record.Position</th>
                        //             <td class="w-100" class="w-100">@record.FirstName</td>
                        //             <td class="w-100">@record.LastName</td>
                        //             <td class="w-100">@record.Tel</td>
                        //             <td class="w-100">@record.Email</td>

                        //         </tr>
                        //     }
                        // }

                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
