@model List<No1_Online.ViewModels.CsvVM>

@{
    ViewData["Title"] = "Upload Success";
}


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Upload Success:
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th>Vrag</th>
                    <th>Load No</th>
                    <th>Datum</th>
                    <th>Klient Order No</th>
                    <th>Klient</th>
                    <th>Laaipunt</th>
                    <th>Aflaaipunt</th>
                    <th>Produk</th>
                    <th>Begin KM</th>
                    <th>Vrag Kilometers</th>
                    <th>Vrag Total</th>
                    <th>CPK</th>
                    <th>Transporter Rate</th>
                    <th>Rate vanaf Klient</th>
                    <th>Tonne</th>
                    <th>Load</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <th  scope="row">@record.Vrag</th>
                        <td>@record.LoadNo</td>
                        <td>@record.Datum</td>
                        <td>@record.KlientOrderNo</td>
                        <td>@record.Klient</td>
                        <td>@record.Laaipunt</td>
                        <td>@record.Aflaaipunt</td>
                        <td>@record.Produk</td>
                        <td>@record.BeginKM</td>
                        <td>@record.VragKilometers</td>
                        <td>@record.VragTotal</td>
                        <td>@record.CPK</td>
                        <td>@record.TransporterRate</td>
                        <td>@record.RateVanafKlient</td>
                        <td>@record.Tonne</td>
                        <td>@record.Load</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" id="toastContainer">
    <div class="toast align-items-center text-bg-success border-0 fade" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
        <div class="d-flex" style="background-color: #60E460">
            <div class="toast-body text-black-50"  >
                Success
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var toastEl = document.getElementById('myToast');
        var toast = new bootstrap.Toast(toastEl, { delay: 2000 });
        toast.show(); // This will add the 'show' class to the toast element, triggering the fade-in effect.
    });
</script>

