@model List<No1_Online.ViewModels.CsvVM>

@{
    ViewData["Title"] = "Upload Success";
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Upload Success:
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th>Vrag</th>
                    <th>Load No</th>
                    <th>Datum</th>
                    <th>Klient Order No</th>
                    <th>Klient</th>
                    <th>Laaipunt</th>
                    <th>Aflaaipunt</th>
                    <th>Produk</th>
                    <th>Begin KM</th>
                    <th>Vrag Kilometers</th>
                    <th>Vrag Total</th>
                    <th>CPK</th>
                    <th>Transporter Rate</th>
                    <th>Rate vanaf Klient</th>
                    <th>Tonne</th>
                    <th>Load</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <th  scope="row">@record.Vrag</th>
                        <td>@record.LoadNo</td>
                        <td>@record.Datum</td>
                        <td>@record.KlientOrderNo</td>
                        <td>@record.Klient</td>
                        <td>@record.Laaipunt</td>
                        <td>@record.Aflaaipunt</td>
                        <td>@record.Produk</td>
                        <td>@record.BeginKM</td>
                        <td>@record.VragKilometers</td>
                        <td>@record.VragTotal</td>
                        <td>@record.CPK</td>
                        <td>@record.TransporterRate</td>
                        <td>@record.RateVanafKlient</td>
                        <td>@record.Tonne</td>
                        <td>@record.Load</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>




